@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf) format('ttf');
    }
}